<div
  role="button"
  tabindex="0"
  class="song-item"
  [class.song-item--selected]="isSelected"
  (click)="handleRowClick()"
  (keydown.enter)="handleRowClick()"
>
  @if (reorderable) {
    <button
      type="button"
      cdkDragHandle
      class="song-item__drag"
      aria-label="Reordenar canción"
      (click)="stopDragClick($event)"
    >
      <i class="pi pi-bars text-sm"></i>
    </button>
  }

  <img [src]="song.cover" [alt]="song.title" class="song-item__cover" />

  <div class="song-item__info">
    <p class="song-item__title">{{ song.title }}</p>
    <p class="song-item__artist">{{ song.artist }}</p>
  </div>

  <span class="song-item__duration">{{ durationLabel }}</span>

  <p-button
    type="button"
    [icon]="playIcon"
    [rounded]="true"
    [text]="true"
    severity="secondary"
    styleClass="song-item__action song-item__action--play"
    ariaLabel="Reproducir canción"
    (onClick)="handlePlay($event)"
  />

  @if (showActions) {
    <p-button
      type="button"
      icon="pi pi-ellipsis-v"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      styleClass="song-item__action"
      ariaLabel="Opciones de canción"
      (onClick)="openMenu($event)"
    />
    <p-menu #songMenu [model]="menuItems" [popup]="true" appendTo="body" />
  }
</div>
